.nav--primary {
  position: relative;
}
.nav--hamburger {
  padding: 1rem;
  position: absolute;
  right: 0;
}
.nav--hamburger--bar {
  margin-bottom: 3px;
  display: block;
  width: 24px; height: 4px;
  background-color: var(--text);
  border-radius: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.nav--primary--list {
  margin: 3rem 0 0 0; padding: 2rem 1rem;
  position: absolute; right: 0;
  list-style-type: none;
  background-color: var(--white);
  border-top: 2px solid var(--grey);
}
.nav--primary--list--element {

}
.nav--primary--list--link {
  padding: 1rem;
  display: block;
  color: var(--blue); font-size: .9rem; font-weight: 600;
  text-transform: uppercase;
}